*AND GATE TABLE*

In [ ]:

inputs = [(0, 0), (0, 1), (1, 0), (1, 1)]


print(f"{'A':<5}{'B':<5}{'AND':<5}")


for a, b in inputs:

    and_gateresult = a & b


    print(f"{a:<5}{b:<5}{and_gateresult:<5}")

A    B    AND
0    0    0
0    1    0
1    0    0
1    1    1

**OR  GATE TABLE **

In [ ]:

inputs = [(0, 0), (0, 1), (1, 0), (1, 1)]


print(f"{'A':<5}{'B':<5}{'or':<5}")


for a, b in inputs:

    or_gateresult = a | b


    print(f"{a:<5}{b:<5}{or_gateresult:<5}")

A    B    or
0    0    0
0    1    1
1    0    1
1    1    1

*XOR Table*

In [ ]:
inputs = [(0, 0), (0, 1), (1, 0), (1, 1)]


print(f"{'A':<5}{'B':<5}{'XOR':<5}")


for a, b in inputs:

    XOR_gateresult = a ^ b


    print(f"{a:<5}{b:<5}{XOR_gateresult:<5}")

A    B    XOR
0    0    0
0    1    1
1    0    1
1    1    0

**Data Types Practice : **

**finding greater number**

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
c=int(input("enter third number:"))

if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

enter first number:12
enter second number:66
enter third number:22
b is greater

**Reverse a string**

In [ ]:
a=input("enter a string:")
print(a[::-1])

enter a string:subhan
nahbus

**check weather number is even or odd**

In [ ]:
num1=int(input("enter a number"))
if num1%2==0:
  print("even")
else:
  print("odd")

enter a number4
even

**find vowels**

In [ ]:
num1=input("enter a string:")
vowels="aeiou"
count=0
for i in num1:
  if i in vowels:
    count=count+1
print(count)

enter a string:syebro
2